/* Oliver McTammany
 * stylesheet for personal website for DALI */

/*********************************************************************************/
/* General			                                                             */
/*********************************************************************************/
#header {
	font-family: 'Dancing Script', cursive;
	font-size: 75px;
	color: #336600;										/* dark green */
	height: auto;
}

body {
	width: 90%;
	margin: auto;
	font-family: sans-serif;
	font-size: 1em;
	text-align: center;
	background-image: url("spiration-light.png");		/* from toptal.com with permission */
}

h1, h3 {
	font-family: Palatino;
}

h1 {
	color: #336600;										/* dark green */
}

.contents {
	display: block;
	text-align: center;
}

/*********************************************************************************/
/* Images		                                                         	     */
/*********************************************************************************/
img.align-left {
	float: left;
	display: block;
	margin: 0% auto;
	max-width: 55%;										/* 55% looks most natural with the buttons on landing page */
	max-height: 55%;
}

img.align-left-dog {
	float: left;
	display: block;
	margin: 0% auto;
	padding:1px;
	border:1px solid #021a40;							/* black */
	max-width: 49.5%;									/* leave space for border */
	max-height: 49.5%;
}

img.align-right-dog {
	float: right;
	display: block;
	margin: 0% auto;
	padding:1px;
	border:1px solid #021a40;
	max-width: 49.5%;
	max-height: 49.5%;
}

/*********************************************************************************/
/* Buttons		                                         	                     */
/*********************************************************************************/
#sidebar												/* used for buttons on landing page */
{
	float: right;
	width: 45%;
	text-align: center;
}

.round-button {
	width:35%;
	margin: auto;
	display: block;
}

.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:10px solid #99e699;							/* lime-ish green */
    overflow:hidden;
    
    background: #009900; 								/* slightly darker green */
    box-shadow: 0 0 3px gray;
}

.round-button-circle:hover {
	background:#336600;									/* darkest green */
}

.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:#e2eaf3;										/* white */
    font-family: Palatino;
    font-size: 1.5em;
    font-weight:bold;
    text-decoration:none;
}

/*********************************************************************************/
/* Rotating square animation                                                     */
/*********************************************************************************/
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

#rotating-square {
	width: 15px;
	height: 15px;
	margin-left: 50%;
	
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, green 0%, green 100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, green, green);
	
	animation-name: spin; 
	animation-duration: 5s; 
	animation-iteration-count: infinite; 
	animation-timing-function: linear;
}